/* Basic reset */
html{
    height: 100%;
    font-size: 1vw;
}
body {
    background-color: #F5F5F5; /* Cor bege */
    padding: 0 25px;
}
nav{
    text-align: center;
    color: #fff;
}
/* Container for the header menu*/
#menu {
    background-color: #4e4e4e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: gray;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
}
#menu h3{
    text-align: center;
    color: #fff;
}
footer{
    background-color: #4e4e4e;
    position: fixed;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem, 1vw, 3rem);
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}
footer p{ 
    display: inline;
    font-size: 10px;
}
/* Navigation container */
.nav-menu {
    display: flex;
    justify-content: space-between;
}
/* Each nav item */
.nav-menu td {
    margin: 0 10px;
    padding: 0 10px;
}
/* Link styles */
.nav-menu a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}
/* Hover effect */
.nav-menu a:hover {
    background-color: #929292;
}
.content {
    margin-top: 35px; /* Same height as the header to avoid content being hidden */
    flex: 1 1 auto;  /*grow vertically*/
    padding-top: 2rem;
    padding-bottom: 13.5rem; /* Space available between last element and bottom border of the page */
    background-color: #B89470;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    position:relative;
    font-size: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para o texto */
}
.content p{
    text-align: justify;
    color: #fff;
}
.content h3, h2 {
    text-align:center;
    color: #fff;
}
.content-articles {
    padding: 10px 40px 10px 40px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.content-articles ol, ul{
    padding-left: 20px;
    text-align: justify;
}
.container-iframe {
    position: relative;
    overflow: hidden;
    margin: 0 auto; /* Center horizontally */
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio*/
  }
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
/* Tablet */
@media (min-width: 600px) {
    /* Basic reset */
    html{
        height: 100%;
    }
    body {
        background-color: #F5F5F5; /* Cor bege */
        padding: 0 50px;
    }
    nav{
        text-align: center;
        color: #fff;
    }
    /* Container for the header menu*/
    #menu {
        background-color: #4e4e4e;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: gray;
        z-index: 1000;
        font-family: 'Open Sans', sans-serif;
    }
    #menu h3{
        text-align: center;
        color: #fff;
    }
    footer{
        background-color: #4e4e4e;
        position: fixed;
        padding: 10px 0px;
        text-align: center;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: clamp(1rem, 1vw, 3rem);
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
    }
    footer p{ 
        display: inline;
        font-size: clamp(0.5rem, 2vw, 6rem);
    }
    /* Navigation container */
    .nav-menu {
        display: flex;
        justify-content: space-between;
    }
    /* Each nav item */
    .nav-menu td {
        margin: 0 10px;
        padding: 0 10px;
    }
    /* Link styles */
    .nav-menu a {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        text-decoration: none;
        font-size: clamp(2.5rem, 1.5vw, 2.8rem);
        padding: 10px 15px;
        display: block;
        transition: background-color 0.3s ease;
    }
    /* Hover effect */
    .nav-menu a:hover {
        background-color: #929292;
    }
    .content {
        margin-top: 10px; /* Same height as the header to avoid content being hidden */
        flex: 1 1 auto;  /*grow vertically*/
        padding-top: 2rem;
        padding-bottom: 3.5rem; /* Space available between last element and bottom border of the page */
        background-color: #B89470;
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        position:relative;
        font-size: 2vw;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para o texto */
    }
    .content p{
        text-align: justify;
        color: #fff;
        font-size: clamp(0.5rem, 2vw, 6rem);
    }
    .content h3, h2 {
        text-align:center;
        color: #fff;
    }
    .content-articles {
        padding: 10px 40px 10px 40px;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
    }
    .container-iframe {
        position: relative;
        overflow: hidden;
        margin: 0 auto; /* Center horizontally */
        width: 80%;
        padding-top: 42.86%; /* 21:9 Aspect Ratio*/
    }
    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
  /* Desktop */
@media (min-width: 992px) {
    /* Basic reset */
    html{
        height: 100%;
        font-size: 1vw;
    }
    body {
        background-color: #F5F5F5; /* Cor bege */
        padding: 0 50px;
    }
    nav{
        text-align: center;
        color: #fff;
    }
    /* Container for the header menu*/
    #menu {
        background-color: #4e4e4e;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: gray;
        z-index: 1000;
        font-family: 'Open Sans', sans-serif;
    }
    footer{
        background-color: #4e4e4e;
        position: fixed;
        padding: 10px 0px;
        text-align: center;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: clamp(1rem, 1vw, 3rem);
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
    }
    footer p{ 
        display: inline;
        font-size: 16px;
    }
    /* Navigation container */
    .nav-menu {
        display: flex;
        justify-content: space-between;
    }
    /* Each nav item */
    .nav-menu td {
        margin: 0 10px;
        padding: 0 10px;
    }
    /* Link styles */
    .nav-menu a {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 15px;
        display: block;
        transition: background-color 0.3s ease;
    }
    /* Hover effect */
    .nav-menu a:hover {
        background-color: #929292;
    }
    .content {
        margin-top: 10px; /* Same height as the header to avoid content being hidden */
        flex: 1 1 auto;  /*grow vertically*/
        padding-top: 2rem;
        padding-bottom: 3.5rem; /* Space available between last element and bottom border of the page */
        background-color: #B89470;
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        position:relative;
        font-size: 16px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para o texto */
    }
    .content p{
        text-align: justify;
        color: #fff;
        font-size: clamp(0.5rem, 1.5vw, 6rem);
    }
    .content h3, h2 {
        text-align:center;
        color: #fff;
    }
    .content-articles {
        padding: 10px 40px 10px 40px;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
    }
    .content-articles ol, ul{
        padding-left: 30px;
        text-align: justify;
    }
    .container-iframe {
        position: relative;
        overflow: hidden;
        margin: 0 auto; /* Center horizontally */
        width: 70%;
        padding-top: 42.86%; /* 21:9 Aspect Ratio*/
    }
    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}