/* Basic reset */
html{
    height: 100%;
    font-size: 1vw;
}

ul {
    margin: 0;
    padding: 0;
}
body {
    
    background-color: #F5F5F5; /* Cor bege */
    padding: 0 50px;

    
}

nav{
    text-align: center;
    color: #fff;
}

/* Container for the header menu*/
#menu {
    background-color: #4e4e4e;
    /* padding: 1em; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 100% gray;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: #4e4e4e;
    position: fixed;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

footer p{ 
    display: inline
}

/* Navigation container */
.nav-menu {
    display: flex;
    justify-content: space-between;
}

/* Each nav item */
.nav-menu li {
    margin: 0 10px;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    
}

/* Link styles */
.nav-menu a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
    
}

/* Hover effect */
.nav-menu a:hover {
    background-color: #929292;
    text-decoration: wavy;
}

.content {
    margin-top: 80px; /* Same height as the header to avoid content being hidden */
    flex: 1 1 auto;  /*grow vertically*/
    padding-top: 10px;
    padding-bottom: 3.5rem; /* Space available between last element and bottom border of the page */
    background-color: #2C3E50;
    /* background-color: #A9A9A9; /* Branco translúcido */
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    position:relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para o texto */
    
}

.content p{
    text-align: justify;
    color: #fff;
}

.content h3, h2 {
    text-align:center;
    color: #fff;
}
.content-about {
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2); /* Branco com 50% de opacidade */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}



.content-lifehacks {
    padding: 10px 40px 10px 40px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
   
}


.content-lifehacks li{
    color: #fff;
    margin: 0;
    
}
.content-contact {
    padding: 10px 40px 10px 40px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
   
}

.content-contact table{
    padding: 10px 100px 10px 100px;
    width: 100%;
    text-align: left;
   
}

form {
    display: flex;
    flex-direction: column;
    
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

legend {
    
    margin-bottom: 10px;
    color: #fff
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff
}

input[type="text"], input[type="email"], textarea {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
            font-size: 1em;
            width: 100%;
}

input[type="submit"] {
            background-color: #28a745;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1vw;
            width: 20%;
            
}

input[type="submit"]:hover {
            background-color: #218838;
}

